@import 'colors';

.blogHeader {
  .headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and ( max-width: 980px ) {
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }

    .name {
      font-size: 45px;
      font-weight: 300;
      margin: 0;
      color: var(--foreground);
    }

    .navigation {
      .navItem {
        display: inline-block;
        text-align: center;
        margin-right: 20px;
        color: var(--foreground);
        font-size: 24px;
        transition: all 150ms linear;
        font-size: 20px;
        vertical-align: top;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border-bottom-color: var(--theme);
        }
      }
    }
  }

  .siteCategories {
    background: var(--read-more-background);
    margin: 10px 0;
    text-align: center;

    .categoryLink {
      display: inline-block;
      color: var(--read-more-foreground);
      padding: 10px 20px;
      margin-right: 2px;

      &:hover, &.active {
        background: rgba(0, 0, 0, .2);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
