@import './colors';

$highlight-background: #2d2d2d;
$highlight-current-line: #393939;
$highlight-selection: #515151;
$highlight-foreground: #ccc;
$highlight-comment: #999;
$highlight-red: #f2777a;
$highlight-orange: #f99157;
$highlight-yellow: #fc6;
$highlight-green: #9c9;
$highlight-aqua: #6cc;
$highlight-blue: #69c;
$highlight-purple: #c9c;

%code-block {
  background: $highlight-background;
  padding: 15px 20px;
  overflow: auto;
  color: $highlight-foreground;
  line-height: 16px * 1.6;
}

%line-numbers {
  color: #666;
  font-size: 0.85em;
  user-select: none;
}

pre, code {
  font-family: 'Source Code Pro', 'Courier New', courier, monospace;
}

code {
  background: var(--code-background);
  text-shadow: 0 1px var(--code-shadow);
  padding: 0 0.3em;
}

pre {
  @extend %code-block;

  code {
    background: none;
    text-shadow: none;
    padding: 0;
  }
}

.highlight {
  @extend %code-block;
  margin: 25px 0;
  border-radius: 4px;
  font-size: 14px;

  pre {
    margin: 0;
    padding: 0;
  }

  table {
    margin: 0;
    width: auto;

    td {
      border-bottom: none !important;
      padding: 0;
    }
  }

  figcaption {
    &::before, &::after {
      content: '';
      display: table;
    }

    &::after {
      clear: both;
    }

    font-size: 0.85em;
    color: $highlight-comment;
    line-height: 1em;
    margin-bottom: 1em;

    a {
      float: right;
    }
  }

  .gutter pre {
    @extend %line-numbers;
    text-align: right;
    padding-right: 20px;
  }

  .line {
    height: 16px * 1.6;

    &.marked {
      background: $highlight-selection;
    }
  }
}

// .gist {
//   margin: 0;
//   border: 1px solid #ddd;
//   background: $highlight-background;
//   padding: 15px 20px 15px 0;

//   .gist-file {
//     border: none;
//     font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
//     margin: 0;

//     .gist-data {
//       background: none;
//       border: none;

//       .line-numbers {
//         @extend %line-numbers;
//         background: none;
//         border: none;
//         padding: 0 20px 0 0 ;
//       }

//       .line-data {
//         padding: 0 !important;
//       }
//     }

//     .highlight {
//       margin: 0;
//       padding: 0;
//     }

//     .gist-meta {
//       background: $highlight-background;
//       color: $highlight-comment;
//       font: 0.85em 'Nunito', sans-serif;
//       text-shadow: none;
//       padding: 0;
//       margin-top: 1em;
//       margin-left: 20px;

//       a {
//         color: $accent;
//         font-weight: 300;

//         &:hover {
//           color: $accent-second;
//         }
//       }
//     }
//   }
// }

pre {
  .comment, .title {
    color: $highlight-comment;
  }

  .variable,
  .attribute,
  .tag,
  .regexp,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype,
  .css .id,
  .css .class,
  .css .pseudo {
    color: $highlight-red;
  }

  .number,
  .preprocessor,
  .built_in,
  .literal,
  .params,
  .constant {
    color: $highlight-orange;
  }

  .class,
  .ruby .class .title,
  .css .rules .attribute {
    color: $highlight-green;
  }

  .string,
  .value,
  .inheritance,
  .header,
  .ruby .symbol,
  .xml .cdata {
    color: $highlight-green;
  }

  .css .hexcolor {
    color: $highlight-aqua;
  }

  .function,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title {
    color: $highlight-blue;
  }

  .keyword,
  .javascript .function {
    color: $highlight-purple;
  }
}
