<div class="category-page">
  <%
    page.posts.forEach(post => {
  %>
  <%- partial('_partial/post-list', { post }) %>
  <% }); %>
</div>

<% if (page.total > 1) { %>
<%- partial('_partial/pagination') %>
<% } %>
