$theme: #173e86;
$theme-dark: #f523b3;

$theme-faint: #edf2fc;
$theme-dark-faint: #232323;

$accent: #299bd3;
$accent-second: #4b936a;

$gray: #8092a6;
$gray-darker: #173e86;

$github: #333;
$linkedin: #0077b5;
$twitter: #00aced;
$facebook: #4267b2;

$errored: #d32f2f;
