<header class="blog-header">
  <div class="header-top">
    <a href="/"><h1 class="name"><%= config.title %></h1></a>
    <nav class="navigation">
      <% theme.menu.forEach(item => { %>
      <a href="<%= item.url %>" class="nav-item"><%= item.name %></a>
      <% }); %>
    </nav>
  </div>
  <% if (site.categories && site.categories.length > 1) { %>
  <nav class="site-categories">
    <%- list_categories({
      show_count: false,
      class: 'category',
      style: 'none',
      separator: ''
    }) %>
  </nav>
  <% } %>
</header>

<a href="javascript://" id="color-mode-switcher">
  <i class="fa fa-moon-o"></i>
</a>
